# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

# -----------------------------------------------------------------
# IMPORTANT NOTE:
#   The ordering of "ServiceLabel" blocks is important!
#
#   Matching takes place from bottom-to-top and will stop after the
#   first match.  Place less specific matches earlier in the file
#   and more specific matches later.
#
#   Be sure to add new entries in the area they belong, denoted by the
#   header wrapped in "#" characters. (e.g. SDK, EngSys, Management)
# -----------------------------------------------------------------

##################
# Catch all
##################
*                                      @microsoft/azure-mcp @microsoft/fabric-mcp

##################
# Eng Sys
##################
/eng/                                  @microsoft/azure-mcp @microsoft/azure-sdk-eng @microsoft/fabric-mcp
/.github/                              @microsoft/azure-mcp @microsoft/azure-sdk-eng @microsoft/fabric-mcp
/.config/                              @microsoft/azure-mcp @microsoft/azure-sdk-eng @microsoft/fabric-mcp

##################
# Services
##################
# PRLabel: %tools-AKS
/tools/Azure.Mcp.Tools.Aks/            @feiskyer @gossion @microsoft/azure-mcp

# ServiceLabel: %tools-AKS
# ServiceOwners:                       @feiskyer @gossion


# PRLabel: %tools-AppConfig
/tools/Azure.Mcp.Tools.AppConfig/      @JonathanCrd @conniey @microsoft/azure-mcp

# ServiceLabel: %tools-AppConfig
# ServiceOwners:                       @shenmuxiaosen @avanigupta

# PRLabel: %area-AppLens
/tools/Azure.Mcp.Tools.AppLens/        @msalaman @microsoft/azure-mcp

# ServiceLabel: %area-AppLens
# ServiceOwners:                       @msalaman

# PRLabel: %tools-ApplicationInsights
/tools/Azure.Mcp.Tools.ApplicationInsights/  @regexrowboat @xiaomi7732 @microsoft/azure-mcp

# ServiceLabel: %tools-ApplicationInsights
# ServiceOwners:                       @regexrowboat @xiaomi7732

# PRLabel: %tools-ACR
/tools/Azure.Mcp.Tools.Acr/            @jongio @microsoft/azure-mcp

# ServiceLabel: %tools-ACR
# ServiceOwners:                       @jongio

# PRLabel: %tools-Aks
/tools/Azure.Mcp.Tools.Aks/            @jongio @anuchandy @microsoft/azure-mcp

# ServiceLabel: %tools-Aks
# ServiceOwners:                       @jongio @anuchandy

# PRLabel: %tools-AppService
/tools/Azure.Mcp.Tools.AppService/         @KarishmaGhiya @microsoft/azure-mcp

# ServiceLabel: %tools-AppService
# ServiceOwners:                       @ArthurMa1978 @weidongxu-microsoft 


# PRLabel: %tools-BestPractices
/tools/Azure.Mcp.Tools.AzureBestPractices/             @g2vinay @conniey @fanyang-mono @XiaofuHuang @microsoft/azure-mcp

# ServiceLabel: %tools-BestPractices
# ServiceOwners:                       @g2vinay @conniey @fanyang-mono @XiaofuHuang

# PRLabel: %tools-Bicep
/tools/Azure.Mcp.Tools.BicepSchema/             @msalaman @saikoumudi @microsoft/azure-mcp

# ServiceLabel: %tools-Bicep
# ServiceOwners:                       @msalaman @saikoumudi

# PRLabel: %tools-CloudArchitect
/tools/Azure.Mcp.Tools.CloudArchitect/                         @msalaman @microsoft/azure-mcp

# ServiceLabel: %tools-CloudArchitect
# ServiceOwners:                       @msalaman

# PRLabel: %tools-Communication
/tools/Azure.Mcp.Tools.Communication/         @KarishmaGhiya @microsoft/azure-mcp

# ServiceLabel: %tools-Communication
# ServiceOwners:                       @kirill-linnik @kagbakpem @arazan

# PRLabel: %tools-CosmosDB
/tools/Azure.Mcp.Tools.Cosmos/         @sajeetharan @xiangyan99 @microsoft/azure-mcp

# ServiceLabel: %tools-CosmosDB
# ServiceOwners:                       @sajeetharan @xiangyan99


# PRLabel: %tools-Azd
/tools/Azure.Mcp.Tools.Extension/      @wbreza @jongio @microsoft/azure-mcp

# ServiceLabel: %tools-Azd
# ServiceOwners:                       @wbreza @jongio

# PRLabel: %tools-Foundry
/tools/Azure.Mcp.Tools.Foundry/        @jayzzh @xiangyan99 @microsoft/azure-mcp

# ServiceLabel: %tools-Foundry
# ServiceOwners:                       @jayzzh @xiangyan99

# PRLabel: %tools-FunctionApp
/tools/Azure.Mcp.Tools.FunctionApp/   @jongio @microsoft/azure-mcp

# ServiceLabel: %tools-FunctionApp
# ServiceOwners:                      @jongio

# PRLabel: %tools-Grafana
/tools/Azure.Mcp.Tools.Grafana/        @weng5e @xiangyan99 @microsoft/azure-mcp

# ServiceLabel: %tools-Grafana
# ServiceOwners:                       @weng5e @xiangyan99

# PRLabel: %tools-KeyVault
/tools/Azure.Mcp.Tools.KeyVault/       @vcolin7 @JonathanCrd @microsoft/azure-mcp

# ServiceLabel: %tools-KeyVault
# ServiceOwners:                       @vcolin7 @JonathanCrd

# PRLabel: %tools-ISV
/tools/Azure.Mcp.Tools.AzureIsv/       @pachaturvedi @agrimayadav @microsoft/azure-mcp

# ServiceLabel: %tools-ISV
# ServiceOwners:                       @pachaturvedi @agrimayadav 

# PRLabel: %tools-Kusto
/tools/Azure.Mcp.Tools.Kusto/          @prvavill @danield137 @microsoft/azure-mcp

# ServiceLabel: %tools-Kusto
# ServiceOwners:                       @prvavill @danield137


# PRLabel: %tools-Marketplace
/tools/Azure.Mcp.Tools.Marketplace/    @meirloichter @microsoft/azure-mcp

# ServiceLabel: %tools-Marketplace
# ServiceOwners:                       @meirloichter


# PRLabel: %tools-Monitor
/tools/Azure.Mcp.Tools.Monitor/        @smritiy @srnagar @jongio @zaaslam @microsoft/azure-mcp

# ServiceLabel: %tools-Monitor
# ServiceOwners:                       @smritiy @srnagar @jongio @zaaslam

# PRLabel: %tools-ManagedLustre
/tools/Azure.Mcp.Tools.ManagedLustre/  @wolfgang-desalvador @rebecca-makar @microsoft/azure-mcp
# ServiceLabel: %tools-ManagedLustre
# ServiceOwners:                       @wolfgang-desalvador @rebecca-makar

# PRLabel: %tools-MySQL
/tools/Azure.Mcp.Tools.MySql/          @ramnov @mattkohnms @microsoft/azure-mcp

# ServiceLabel: %tools-MySQL
# ServiceOwners:                       @ramnov @mattkohnms

# PRLabel: %tools-SQL
/tools/Azure.Mcp.Tools.Sql/          @ericshape @AV25242 @akromm @jeremyfrosti @mitesh-pv @achyuth-ms @microsoft/azure-mcp

# ServiceLabel: %tools-SQL
# ServiceOwners:                     @ericshape @AV25242 @akromm @jeremyfrosti @mitesh-pv @achyuth-ms

# PRLabel: %tools-Postgres
/tools/Azure.Mcp.Tools.Postgres/       @kk-src @shreyaaithal @maxluk @xiangyan99 @microsoft/azure-mcp

# ServiceLabel: %tools-Postgres
# ServiceOwners:                       @kk-src @shreyaaithal @maxluk

# PRLabel: %tools-Search
/tools/Azure.Mcp.Tools.Search/         @pablocastro @jongio @microsoft/azure-mcp

# ServiceLabel: %tools-Search
# ServiceOwners:                       @pablocastro


# PRLabel: %tools-ServiceBus
/tools/Azure.Mcp.Tools.ServiceBus/     @anuchandy @conniey @microsoft/azure-mcp

# ServiceLabel: %tools-ServiceBus
# ServiceOwners:                       @shankarsama @EldertGrootenboer

# PRLabel: %tools-Speech
/tools/Azure.Mcp.Tools.Speech/         @dilin-MS2 @JonathanCrd @microsoft/azure-mcp

# ServiceLabel: %tools-Speech
# ServiceOwners:                       @dilin-MS2

# PRLabel: %tools-Redis
/tools/Azure.Mcp.Tools.Redis/          @philon-msft @sharedferret @xiangyan99 @microsoft/azure-mcp

# ServiceLabel: %tools-Redis
# ServiceOwners:                       @philon-msft @carldc

# PRLabel: %tools-Storage
/tools/Azure.Mcp.Tools.Storage/        @alzimmermsft @jongio @xiangyan99 @microsoft/azure-mcp

# ServiceLabel: %tools-Storage
# ServiceOwners:                       @alzimmermsft  @jongio

# PRLabel: %tools-Authorization
/tools/Azure.Mcp.Tools.Authorization/  @vurhanau @jongio @xiangyan99 @microsoft/azure-mcp

# ServiceLabel: %tools-Authorization
# ServiceOwners:                       @vurhanau

# PRLabel: %tools-Deploy
/tools/Azure.Mcp.Tools.Deploy/         @qianwens @xiaofanzhou @microsoft/azure-mcp
/tools/Azure.Mcp.Tools.Quota/          @qianwens @xiaofanzhou @microsoft/azure-mcp

# ServiceLabel: %tools-Deploy
# ServiceOwners:                       @qianwens @xiaofanzhou

# PRLabel: %tools-LoadTesting
/tools/Azure.Mcp.Tools.LoadTesting/    @nishtha489 @krisnaray @krishna1s @johnsta @microsoft/azure-mcp

# ServiceLabel: %tools-LoadTesting
# ServiceOwners:                       @nishtha489 @krisnaray @krishna1s @johnsta

# PRLabel: %tools-VirtualDesktop
/tools/Azure.Mcp.Tools.VirtualDesktop/ @vladimisms @microsoft/azure-mcp

# ServiceLabel: %tools-VirtualDesktop
# ServiceOwners:                       @vladimisms


# PRLabel: %tools-EventGrid
/tools/Azure.Mcp.Tools.EventGrid/      @microsoft/azure-mcp

# ServiceLabel: %tools-EventGrid
# ServiceOwners:                       @microsoft/azure-mcp


# PRLabel: %tools-Workbooks
/tools/Azure.Mcp.Tools.Workbooks/      @matteing @microsoft/azure-mcp

# ServiceLabel: %tools-Workbooks
# ServiceOwners:                       @matteing

# PRLabel: %tools-SignalR
/tools/Azure.Mcp.Tools.SignalR/        @kenchennt @JialinXin @HaofanLiao @microsoft/azure-mcp

# ServiceLabel: %tools-SignalR
# ServiceOwners:                       @kenchennt @JialinXin

# PRLabel: %tools-ConfidentialLedger
/tools/Azure.Mcp.Tools.ConfidentialLedger/          @taicchoumsft @ivarprudnikov @microsoft/azure-mcp

# ServiceLabel: %tools-ConfidentialLedger
# ServiceOwners:                       @taicchoumsft @ivarprudnikov

# PRLabel: %tools-ResourceHealth
/tools/Azure.Mcp.Tools.ResourceHealth/      @pkaza-msft @microsoft/azure-mcp

# ServiceLabel: %tools-ResourceHealth
# ServiceOwners:                       @pkaza-msft @microsoft/azure-mcp

##################
# Fabric MCP
##################
/core/Fabric.Mcp.Core/      @microsoft/fabric-mcp
/servers/Fabric.Mcp.Server/           @microsoft/fabric-mcp
/tools/Fabric.Mcp.Tools.PublicApi/    @microsoft/fabric-mcp
/tools/Fabric.Mcp.Tools.OneLake/      @microsoft/fabric-mcp
